<footer id="zeein-footer" class="relative -mt-[1px] border-t border-solid border-black">
  <div class="hidden lg:block">
    <div class="grid grid-cols-1 gap-y-5 text-sm font-bold lg:grid-cols-2">
      <div class="grid-left py-5 px-6 lg:border-r lg:border-solid lg:border-black">
        <div class="grid grid-cols-1 gap-4 lg:grid-cols-2">
          <div class="slbs-logo">
            <span module="Layout_LogoBottom">
              <a href="/index.html"
                ><img src="{$logo}" alt="{$mall_name}" class="light h-5 w-auto" /><img
                  src="/web/upload/slbs/images/logo/logo-slbs-white.png"
                  alt="{$mall_name}"
                  class="dark hidden h-0 w-auto"
              /></a>
            </span>
          </div>
          <div>© 2022 SLASH B SLASH</div>
        </div>
      </div>
      <div class="grid-right py-5 px-6">
        <div class="grid grid-cols-1 lg:grid-cols-3 xl:grid-cols-4">
          <div>CUSTOMER SERVICE</div>
          <div>LANGUAGE</div>
          <div>SOCIAL MEDIA</div>
        </div>
      </div>
    </div>
    <div
      module="Layout_footer"
      class="grid grid-cols-1 gap-y-5 border-t border-solid border-black text-[10px] uppercase lg:grid-cols-2"
    >
      <div class="grid-left py-5 px-6 lg:border-r lg:border-solid lg:border-black">
        <div class="grid grid-cols-1 gap-4 lg:grid-cols-2">
          <div></div>
          <div class="leading-snug">
            <p class="mb-4 block font-bold">
              Contact / +82 {$phone}<br />
              Address / {$mall_addr1} {$mall_addr2}<br />
              Email / {$cpo_email}<br />
            </p>
            <p>
              Company / {$company_name}<br />
              CEO / {$president_name}<br />
              Business License / {$company_regno}<br />
              E-Commerce Permit / {$network_regno}<br />
              Personal Information Manager / {$cpo_name}<br />
            </p>
          </div>
        </div>
      </div>
      <div class="grid-right py-5 px-6">
        <div class="grid grid-cols-1 font-bold leading-loose lg:grid-cols-3 xl:grid-cols-4">
          <div>
            <ul>
              <li><a href="/board/notice/1/">NOTICE</a></li>
              <li><a href="/slbs/contact_us.html">CONTACT US</a></li>
              <li><a href="/myshop/order/list.html">TRACK YOUR ORDER</a></li>
              <li><a href="#">PRIVACY POLICY</a></li>
              <li><a href="#">TERMS & CONDITIONS</a></li>
            </ul>
          </div>
          <div>
            <ul>
              <li><a href="">KOREAN</a></li>
              <li><a href="">ENGLISH</a></li>
              <li><a href="">CHINESE</a></li>
            </ul>
          </div>
          <div>
            <ul>
              <li><a href="https://www.instagram.com/slashbslash.official/">INSTAGRAM</a></li>
              <li><a href="https://www.facebook.com/slashbslash.official">FACEBOOK</a></li>
              <li>
                <a href="https://www.youtube.com/channel/UC_qacpiFOVWS9ubdlcze7aw">YOUTUBE</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="oval-logo absolute leading-none lg:right-5 lg:bottom-3">
        <img
          src="/web/upload/slbs/images/logo/logo-slbs-oval.png"
          class="light h-8 w-auto"
          alt="slbs tm"
        />
        <img
          src="/web/upload/slbs/images/logo/logo-slbs-oval-white.png"
          class="dark hidden h-8 w-auto"
          alt="slbs tm"
        />
      </div>
    </div>
  </div>
  <div class="block lg:hidden">
    <div class="flex flex-col">
      <div class="slbs-logo h-10 px-2.5">
        <span module="Layout_LogoBottom" class="mt-2 block">
          <a href="/index.html"
            ><img src="{$logo}" alt="{$mall_name}" class="light h-[18px] w-auto" /><img
              src="/web/upload/slbs/images/logo/logo-slbs-white.png"
              alt="{$mall_name}"
              class="dark hidden h-0 w-auto"
          /></a>
        </span>
      </div>
      <ul class="ul-nav-bottom main-menu">
        <li class="item">
          <span class="span"></span>
          customer service
          <ul class="sub-menu">
            <li class="item"><a href="/board/notice/1/" class="link">NOTICE</a></li>
            <li class="item"><a href="/slbs/contact_us.html" class="link">CONTACT US</a></li>
            <li class="item">
              <a href="/myshop/order/list.html" class="link">TRACK YOUR ORDER</a>
            </li>
            <li class="item"><a href="#" class="link">PRIVACY POLICY</a></li>
            <li class="item"><a href="#" class="link">TERMS &amp; CONDITIONS</a></li>
          </ul>
        </li>
        <li class="item">
          <span class="span"></span>
          language
          <ul class="sub-menu">
            <li class="item"><a href="#" class="link">korean</a></li>
            <li class="item"><a href="#" class="link">english</a></li>
            <li class="item"><a href="#" class="link">chinese</a></li>
          </ul>
        </li>
        <li class="item">
          <span class="span"></span>
          social media
          <ul class="sub-menu">
            <li class="item">
              <a href="https://www.instagram.com/slashbslash.official/" class="link">instagram</a>
            </li>
            <li class="item">
              <a href="https://www.facebook.com/slashbslash.official" class="link">facebook</a>
            </li>
            <li class="item">
              <a href="https://www.youtube.com/channel/UC_qacpiFOVWS9ubdlcze7aw" class="link"
                >youtube</a
              >
            </li>
          </ul>
        </li>
      </ul>
      <hr class="layout" />
      <div module="Layout_footer">
        <div class="py-3 px-2.5 text-[10px] uppercase leading-snug">
          <p class="mb-4 block font-bold">
            Contact / +82 {$phone}<br />
            Address / {$mall_addr1} {$mall_addr2}<br />
            Email / {$cpo_email}<br />
          </p>
          <p>
            Company / {$company_name}<br />
            CEO / {$president_name}<br />
            Business License / {$company_regno}<br />
            E-Commerce Permit / {$network_regno}<br />
            Personal Information Manager / {$cpo_name}<br />
          </p>
        </div>
      </div>
      <div class="oval-logo mt-2 px-2.5 leading-[0]">
        <img
          src="/web/upload/slbs/images/logo/logo-slbs-oval.png"
          class="light h-8 w-auto"
          alt="slbs tm"
        />
        <img
          src="/web/upload/slbs/images/logo/logo-slbs-oval-white.png"
          class="dark hidden h-8 w-auto"
          alt="slbs tm"
        />
      </div>
      <div class="py-3 px-2.5 text-xs font-bold">© 2022 SLASH B SLASH</div>
    </div>
  </div>
</footer>

<!--@js(/slbs/assets/js/footer.js)-->

<!-- Do not delete. Required code for payment. -->
<div id="progressPaybar" style="display: none">
  <div id="progressPaybarBackground" class="layerProgress"></div>
  <div id="progressPaybarView">
    <div class="box">
      <p class="graph">
        <span
          ><img
            src="//img.echosting.cafe24.com/skin/base_en_US/layout/txt_progress.gif"
            alt="Payment is being processed."
        /></span>
        <span
          ><img src="//img.echosting.cafe24.com/skin/base/layout/img_loading.gif" alt=""
        /></span>
      </p>
      <p class="txt">
        This window will automatically close when payment is processed.<br />
        Do not close this window until processing completes.
      </p>
    </div>
  </div>
</div>
<!-- // Do not delete. Required code for payment. -->

<div module="Layout_multishopShipping">
  <!--@css(/layout/basic/css/ec-base-layer.css)-->
  <!--@css(/css/module/layout/multishopShipping.css)-->
  <!--@js(/js/module/layout/multishopShipping.js)-->
  <div class="dimmed"></div>
  <div class="worldshipLayer ec-base-layer">
    <div class="header">
      <h3>WORLD SHIPPING</h3>
    </div>
    <div class="content">
      <p class="desc">PLEASE SELECT THE DESTINATION COUNTRY AND LANGUAGE :</p>
      <div class="select">
        <select module="Layout_multishopShippingCountrylist">
          <option value="{$country_code}" {$country_default_selected}>
            SHIPPING TO : {$country_name}
          </option>
          <option value="{$country_code}" {$country_default_selected}>
            SHIPPING TO : {$country_name}
          </option>
        </select>
      </div>
      <div class="select">
        <select module="Layout_multishopShippingLanguagelist">
          <option value="{$shop_domain}" {$shop_default_selected}>
            LANGUAGE : {$shop_language_name}
          </option>
          <option value="{$shop_domain}" {$shop_default_selected}>
            LANGUAGE : {$shop_language_name}
          </option>
        </select>
      </div>
    </div>
    <div class="ec-base-button">
      <a href="#none" class="btnSubmitFix sizeS">GO</a>
    </div>
    <a href="#none" class="close"
      ><img
        src="//img.echosting.cafe24.com/skin/base/common/btn_close.gif"
        width="13"
        height="13"
        alt="close"
    /></a>
  </div>
</div>

<div id="layoutDimmed" class="dimmed"></div>
