<aside id="aside" module="layout_slidePackage">
  <!--@css(/layout/basic/css/slideMenu.css)-->
  <!--@js(/layout/basic/js/slide_menu.js)-->
  <!--@js(/slbs/assets/js/slidebar.js)-->
  <nav class="navigation-menu" role="navigation">
    <div class="navigation-menu__member hidden">
      <div module="Layout_statelogoff">
        <a href="/member/agreement.html">Join</a>
        <a href="/member/login.html">Login</a>
        <a href="/order/basket.html" class="RTMI"
          >Cart
          <span class="count {$basket_count_display|display} {$basket_count_display_class}"
            >(<span class="{$basket_count_class}">{$basket_count}</span>)</span
          ></a
        >
      </div>
      <div module="Layout_stateLogon">
        <a href="{$action_logout}" class="displaynone">Logout</a>
        <a href="/myshop/index.html">My shop</a>
        <a href="/order/basket.html" class="RTMI"
          >Cart<span class="count {$basket_count_display|display} {$basket_count_display_class}"
            >(<span class="{$basket_count_class}">{$basket_count}</span>)</span
          ></a
        >
      </div>
      <div module="Layout_SearchSide" class="aside__search">
        <!--
          $search_page = /product/search.html
          $product_page = /product/detail.html
        -->
        <fieldset class="searchField">
          <legend>Search</legend>
          {$form.keyword}
          <a href="#none" class="btnSearch"
            ><img
              alt="search"
              type="image"
              src="//img.echosting.cafe24.com/skin/skin/product/ico_search.svg"
          /></a>
          <input
            type="image"
            src="//img.echosting.cafe24.com/skin/skin/product/ico_search.svg"
            alt="Search"
            onclick="{$action_search_submit}"
            class="btnSearch actived"
          />
        </fieldset>
      </div>
    </div>

    <div module="Layout_BoardInfo" class="navigation-menu__board displaynone">
      <ul>
        <li class="menu"><a href="{$link_board_list}">{$board_name}</a> {$board_adult_icon}</li>
        <li class="menu"><a href="{$link_board_list}">{$board_name}</a> {$board_adult_icon}</li>
      </ul>
    </div>

    <div class="navigation-menu__board">
      <ul class="categoryList">
        <li class="menu">
          <i class="btn-arrow"></i>
          <a href="/slbs/pages/about_us.html"> BRAND </a>
          <ul class="sub-menu">
            <li><a href="/slbs/pages/about_us.html">BRAND</a></li>
            <li><a href="/slbs/pages/nfc.html">NFC TECH</a></li>
            <li><a href="/slbs/pages/contact_us.html">CONTACT US</a></li>
            <li><a href="/slbs/pages/stocklist.html">STOCK LIST</a></li>
          </ul>
        </li>
        <li class="menu">
          <i class="btn-arrow"></i>
          <a href="/product/list.html?cate_no=24">SHOP</a>
          <ul class="sub-menu" module="layout_category">
            <li id="cate{$cate_no}"><a href="{$link_product_list}">{$name}</a></li>
            <li id="cate{$cate_no}"><a href="{$link_product_list}">{$name}</a></li>
          </ul>
        </li>
        <li class="menu">
          <i class="btn-arrow"></i>
          <a href="/slbs/pages/campaign.html">CAMPAIGN</a>
          <ul class="sub-menu">
            <li><a href="/slbs/pages/campaign3.html">CHERRY ON TOP</a></li>
            <li><a href="/slbs/pages/campaign2.html">SOCIAL DETOXIFYING</a></li>
            <li><a href="/slbs/pages/campaign1.html">NEW XENERATION</a></li>
          </ul>
        </li>
        <li class="menu">
          <i class="btn-arrow"></i>
          <a href="#">SLBS CUSTOM</a>
          <ul class="sub-menu">
            <li><a href="#">HELLO KITTY</a></li>
            <li><a href="#">HELVETICA</a></li>
            <li><a href="#">THE SIMSONS</a></li>
            <li><a href="#">STAR WARS</a></li>
            <li><a href="#">MICKEY MOUSE</a></li>
            <li><a href="#">COCA-COLA</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="aside-menu-bottom">
      <div module="Layout_statelogoff">
        <ul>
          <li><a href="/member/login.html">Login</a></li>
          <li>
            <a href="/order/basket.html" class="RTMI"
              >Cart
              <span class="count {$basket_count_display|display} {$basket_count_display_class}"
                ><span class="{$basket_count_class}">{$basket_count}</span></span
              ></a
            >
          </li>
        </ul>
      </div>
      <div module="Layout_stateLogon" class="navigation-menu__member__bottom">
        <ul>
          <li><a href="/myshop/index.html">My page</a></li>
          <li><a href="/myshop/wish_list.html">Wishlist</a></li>
          <li><a href="{$action_logout}">Logout</a></li>
        </ul>
      </div>
      <ul>
        <li><a href="/product/search.html">Search</a></li>
      </ul>
    </div>
    <div class="slogan">
      <p>
        SLASH B SLASH is the mobile fashion acc-essory brand with new tech. Fashion in tech becomes
        more important than ever for people who want to express themselves.
      </p>
      <div class="mt-3 leading-[0]">
        <img
          src="/web/upload/slbs/images/logo/logo-slbs-oval.png"
          class="light h-8 w-auto"
          alt="slbs tm"
        />
        <img
          src="/web/upload/slbs/images/logo/logo-slbs-oval-white.png"
          class="dark h-8 w-auto"
          alt="slbs tm"
        />
      </div>
    </div>
  </nav>
  <button type="button" class="btnClose hidden">
    <i aria-hidden="true" class="icon icoClose"></i>닫기
  </button>
  <div class="copyright">© 2022 SLASH B SLASH</div>
</aside>
