<div class="topArea__statelogon RW text-base font-bold uppercase">
  <div module="Layout_statelogoff">
    <button type="button" class="menu btnSearch eSearch">
      <i class="icon icon--search">Search</i>
    </button>
    <a href="/order/basket.html"
      ><i class="icon icon--cart"></i>
      <span class="count {$basket_count_display|display} {$basket_count_display_class}"
        ><span class="{$basket_count_class}">{$basket_count}</span></span
      ></a
    >
    <a href="/member/login.html">
      <i class="icon icon--login">Login</i>
    </a>
  </div>
  <div module="Layout_stateLogon">
    <button type="button" class="menu btnSearch eSearch">
      <i class="icon icon--search">Search</i>
    </button>
    <a href="/order/basket.html"
      ><i class="icon icon--cart"></i>
      <span class="count {$basket_count_display|display} {$basket_count_display_class}"
        ><span class="{$basket_count_class}">{$basket_count}</span></span
      ></a
    >
    <a href="/myshop/index.html"><i class="icon icon--login">My page</i></a>
  </div>
</div>
