<!--@js(/slbs/assets/js/top_roll.js)-->
<div
  id="topRoll"
  role="banner"
  module="custom_moduleedit"
  class="fixed top-0 z-[1003] flex h-8 w-full items-center overflow-hidden border-b border-black lg:h-10"
>
  <ul class="flex flex-nowrap text-sm font-bold text-black opacity-0 transition-opacity">
    <li class="flex-shrink-0 flex-grow px-4">
      CAMPAIGN #03 : SLASH B SLASH x CL PROJECT INTRODUCE
      <a href="#" class="ml-2 inline-block bg-black py-0.5 px-1 text-xs uppercase text-white"
        >view more</a
      >
    </li>
  </ul>
</div>
