.breadcrumb {
  @apply fixed top-[72px] z-10 flex w-full items-stretch justify-between border-b border-black bg-white px-2.5 uppercase lg:top-[96px] lg:px-5;
  h2 {
    @apply text-lg font-bold leading-[39px] lg:text-[22px] lg:leading-[49px];
    & > em {
      @apply not-italic opacity-30;
    }
  }
}
