[class^='btn'],
[class^='btnSubmit'],
a[class^='btnSubmit'] {
  @apply rounded-none font-sans text-xs uppercase leading-[0] lg:text-xl;
  // &:hover {
  //   @apply bg-black;
  // }
}

[class^='btnSubmit']:not(.disabled):hover {
  @apply bg-black font-sans;
}
