body[data-body='order'] {
  #header {
    @apply max-w-none;
  }
  #mCafe24Order {
    @apply w-full border-0 bg-white pt-0;
    // @apply w-full border-0 bg-white pt-[72px] lg:pt-[96px];
    label {
      @apply min-h-0;
    }
    overflow: initial;
    .ec-base-help {
      @apply m-0 mt-1 p-0 text-xs text-black;
    }
    .ec-base-fold {
      @apply border-0 border-t-0;
      > .title {
        @apply pointer-events-none cursor-none p-0;
        &::after {
          @apply hidden opacity-0;
        }
        h2 {
          @apply text-lg font-bold uppercase text-black lg:text-xl;
        }
      }
      .ec-orderform-NoMemberPasswdRow {
        @apply mt-12 border-0 lg:mt-20;
        .title {
          @apply p-0;
          h2 {
            @apply text-xl font-bold uppercase text-black;
          }
        }
      }
      .ec-base-prdInfo {
        @apply mt-2 p-0;
        .thumbnail {
          @apply mr-2 h-auto w-36 border-0 lg:mr-3 lg:w-44;
        }
        .btnRemove {
          @apply hidden;
        }
        .description {
          .prdName {
            @apply border-b border-black pt-2 text-sm font-bold text-black lg:text-base;
          }
          .info {
            li {
              @apply text-xs text-black lg:text-base;
            }
          }
        }
      }
    }
    .ec-base-mail {
      @apply flex items-center justify-between;
      .mailId,
      .mailAddress {
        @apply w-[48%];
      }
    }
    .ec-base-table {
      table,
      &.table {
        @apply block border-0;
        &::before {
          @apply hidden;
        }
      }
      table,
      &.typeWrite {
        @apply border-0;
        table {
          @apply block;
        }
        tbody {
          @apply block;
          tr {
            @apply flex flex-col lg:block;
            th {
              @apply border-0 bg-white p-0 text-base font-bold uppercase text-black;
              &[scope='row'] {
                @apply mb-1 min-w-[210px] pt-2.5 leading-none lg:mb-0;
              }
            }
            td {
              @apply w-full border-t-0 px-0 pt-0 pb-5;
            }
          }
        }
      }
      .ec-address {
        @apply m-0;
        & > li {
          @apply border-t-0 p-0 pb-5;
          &.ec-address-zipcode {
            @apply flex items-center;
            .ec-base-label {
              @apply ml-2 inline-flex items-center;
              label {
                @apply ml-1 pt-1 text-base uppercase;
              }
            }
          }
        }
      }
    }
    .segment {
      &.unique {
        @apply bg-transparent;
      }
      @apply flex items-center border-t-0 p-0;
      .payMethod {
        @apply w-full;
        .ec-paymethod-newArea,
        .ec-paymethod-recentArea {
          @apply mt-2 flex flex-col lg:flex-row;
          &.selected {
            & > label {
              @apply mb-1 border-0 border-none bg-transparent bg-none p-0 text-black lg:mb-0 lg:w-[210px];
            }
            & > div {
              @apply border-0 border-none p-0 text-base lg:w-[calc(100%-210px)];
            }
          }
          #paymethod-recent,
          #paymethod-new {
            @apply top-0.5;
            & + label {
              @apply border-0 p-0 text-black;
            }
          }
        }
      }
    }
    .ec-shippingInfo-shippingMessage {
      & + .segment {
        @apply mt-1;
      }
    }
    .icoRequired {
      @apply relative -top-2 -left-2 bg-none;
      &::after {
        content: '*';
        @apply text-base font-normal text-[#F00];
      }
    }
    input[type='checkbox'],
    input[type='radio'] {
      @apply h-[18px] w-[18px];
      background-image: url('/web/upload/slbs/images/global/checkbox-off.png');
      background-size: 18px 18px;
      box-shadow: none;
      & + label {
        @apply text-base uppercase;
      }
    }
    input[type='radio'] {
      background-image: url('/web/upload/slbs/images/global/radio-off.png');
      top: -1px;
    }
    input[type='checkbox']:checked {
      @apply transition-none;
    }
    input:not(:disabled):checked[type='checkbox'] {
      background-image: url('/web/upload/slbs/images/global/checkbox-on.png');
    }
    input:not(:disabled):checked[type='radio'] {
      background-image: url('/web/upload/slbs/images/global/radio-on.png');
      & + label {
        @apply font-bold;
      }
    }
    #btn_search_fzipcode {
      @apply rounded-none border border-black bg-white text-sm font-bold;
    }
    select {
      background-image: url('/web/upload/slbs/images/global/select-plus.png');
      background-size: 20px 20px;
      background-position: center right 4px;
    }

    .wideContainer {
      @apply grid grid-cols-1 lg:grid-cols-2;
      &--left,
      &--right {
        @apply p-2.5 lg:p-5;
        .sticky {
          @apply lg:top-[166px];
          @apply flex flex-col justify-between lg:min-h-[calc(100vh-166px)];
          &--down {
            @apply leading-[0];
            .ec-base-button.gFull {
              @apply m-0 -mx-2.5 p-0 lg:-mx-5;
              [class*='btn'] {
                @apply m-0 rounded-none border-none bg-black p-0 text-xl font-bold;
              }
            }
          }
        }
      }
      &--right {
        @apply pb-0;
      }
      &--left {
        @apply border-black lg:border-r;
      }
    }
    #ec-jigsaw-area-payment {
      @apply mt-5 lg:mt-10;
      .title {
        @apply hidden;
      }
      .segment {
        @apply flex-col border-t border-black;
        .ec-base-table {
          @apply w-full border-b border-black;
          table {
            tbody {
              tr {
                th {
                  @apply text-sm font-normal lg:text-base;
                }
                td {
                  @apply text-base font-bold text-black lg:text-xl;
                }
              }
            }
          }
        }
        .totalPay {
          @apply w-full bg-transparent p-0 uppercase;
          .txtStrong {
            @apply text-[28px] font-bold text-black lg:text-4xl;
          }
          .heading {
            @apply text-sm font-normal lg:text-base;
          }
        }
      }
    }
  }
  #ec-jigsaw-area-agreement,
  #ec-jigsaw-area-benefit,
  #ec-jigsaw-area-payment,
  #ec-jigsaw-area-paymethod {
    @apply mt-12 lg:mt-20;
  }
  #ec-jigsaw-area-benefit {
    @apply hidden;
  }
  #ec-jigsaw-area-paymethod {
    .saveArea.segment.unique {
      @apply mt-1;
    }
  }

  span.ec-base-help,
  p.ec-base-help,
  ul.ec-base-help li {
    @apply bg-none uppercase text-black;
  }
  #ec-freceiver-address {
    td {
      padding-bottom: 0 !important;
    }
  }
  #ec-jigsaw-tab-shippingInfo {
    @apply flex flex-col lg:flex-row;
    margin-top: 12px !important;
    margin-bottom: 12px !important;
    strong {
      @apply mb-3 text-base font-bold uppercase leading-none lg:mb-0 lg:w-[210px];
      br {
        @apply hidden lg:block;
      }
    }
    ul {
      @apply flex gap-3 whitespace-nowrap border-0 border-transparent uppercase;
      li {
        @apply flex-grow-0 border-0 bg-transparent;
        a {
          @apply relative p-0 pl-[25px] text-black;
          &::before {
            content: '';
            @apply absolute left-0 h-[18px] w-[18px] bg-cover bg-center bg-no-repeat;
            background-image: url('/web/upload/slbs/images/global/radio-off.png');
          }
        }
        &.selected {
          a {
            &::before {
              background-image: url('/web/upload/slbs/images/global/radio-on.png');
            }
          }
        }
      }
    }
  }
  #ec-shippingInfo-recentAddress {
    .segment {
      .recent {
        .name {
          .txtEm {
            @apply mr-2 uppercase text-black;
          }
        }
        .contact {
          @apply mb-2;
        }
      }
      .sideRight {
        @apply right-0;
        .btnNormal,
        .btnBase {
          @apply rounded-none border-black text-xs;
        }
        .btnBase {
          @apply bg-black text-white;
        }
      }
    }
  }
  #ec-shippingInfo-recentAddressList {
    .heading {
      @apply hidden;
    }
    .txtEm {
      @apply uppercase text-black;
    }
    .shippingList {
      & > li {
        @apply border-solid;
      }
      .contact {
        dd {
          @apply pl-3;
        }
      }
    }
  }
}
