body[data-body='order-result'] {
  .message {
    @apply text-lg font-bold uppercase text-black lg:text-xl;
  }
  .ec-base-table {
    table {
      @apply border-0 bg-white;
      &::before {
        @apply hidden;
      }
      tbody {
        tr {
          @apply flex flex-col pb-3 lg:table-row lg:pb-0;
          th,
          td {
            @apply border-0 bg-white p-0 text-left lg:pb-3;
            &.right {
              @apply lg:text-right;
            }
          }
          th {
            @apply font-bold uppercase;
          }
        }
      }
    }
  }

  .resultInfo,
  .pannelArea {
    @apply mb-12 lg:mb-20;
    .title {
      @apply text-lg font-bold uppercase text-black lg:text-xl;
    }
  }
  .pannelArea {
    &--total {
      .ec-base-table {
        table {
          tbody {
            tr {
              @apply flex-row justify-between;
              td {
                &.right {
                  @apply text-right;
                }
              }
            }
          }
        }
      }
    }
  }

  .ec-base-prdInfo {
    .prdBox {
      @apply mb-2 flex;
      .thumbnail {
        a {
          img {
            @apply w-36 lg:w-44;
          }
        }
      }
      .description {
        @apply flex-1 uppercase;
        .prdName {
          @apply mb-1 block border-b border-black pb-1;
        }
      }
    }
  }
  .totalPay {
    @apply flex items-center justify-between border-y border-black py-3 uppercase;
    .txtStrong {
      @apply text-[28px] lg:text-4xl;
    }
  }
  .wideContainer {
    &--right {
      @apply pb-0;
      .sticky {
        @apply lg:top-[166px];
        @apply flex flex-col justify-between lg:min-h-[calc(100vh-166px)];
      }
      .ec-base-button {
        @apply m-0 -mx-2.5 p-0 lg:-mx-5;
        [class*='btn'] {
          @apply m-0 h-[50px] rounded-none border-none bg-black p-0 text-xl font-bold leading-[50px];
        }
      }
    }
  }
}
